/* Categories.css */

.categories-heading {
  margin-bottom: 20px;
}


/* ...rest of your CSS styles for categories */

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.category-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 2rem 3rem;
}


.category-item{
  text-decoration: none;
  margin: 10px;
}

.category {
  width: 250px;
  height: 250px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  border-radius: 50%;
}


.category-item > h3 {
  text-decoration: none;
  text-align: center;
  color: #0f0e17;
  margin-top: 25px;
  font-size: 18px;
  font-weight: 500;
}

.category:hover {
  box-shadow: #ff8906 0px 7px 29px 0px;
}

.category-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s;
  border-radius: 50%;
}

.category-title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  
  color: #fff;
  text-align: center;
  padding: 10px;
  transform: translateY(100%);
  transition: transform 0.3s;
}


.categories-heading {
  font-size: 35px;
}

@media (max-width: 768px) {
  .category-container{
    grid-template-columns: repeat(2, 1fr);
  }
}
