.try-on {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 4rem 2rem;
}

.try-on>.right {
    display: flex;
    align-items: center;
    justify-content: center;
}



.try-on>.right img {
    width: 100%;
    height: 100%;
    border-radius: 2rem;

}

.try-on>.left {
    width: 100%;
}

.try-on>.right {
    width: 100%;
}

@media screen and (max-width: 768px) {
    .try-on {
        flex-direction: column;
        gap: 4rem;
    }

}